@import "var.scss";
@import "global.scss";

.signUp {
  position: absolute;
  top: $header-height+45px;
  background-color: $color-white;
  border-radius: 10px;
  width: 350px;
  padding: 30px 30px;

  .signUp-head {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  .login-btn {
    @include layout(space-between);
    button {
      display: block;
      width: 50%;
    }
  }
}

.signUp-page {
  display: flex;
  justify-content: center;
  // align-items: center;
}
